/** 用于清除css浮动 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0;
}
html {
  background-color: white;
  color:#666;
}

fieldset, img, input, button {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}
ul, ol {
  list-style: none;
}
select, input, textarea {
  font-size: 12px;
  margin: 0;
}
textarea {
  resize: none;
}
select, input {
  vertical-align: middle;
}
img {
  border: 0;
  vertical-align: middle;
} 
table {
  border-collapse: collapse;
}
* {
  box-sizing: border-box;
}
body {
  font:12px/150% Arial,Verdana,"\5b8b\4f53";
  background:#fff
}
a {
  color: inherit;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}
s, i, em {
  font-style: normal;
  text-decoration:none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: inherit;
}
del {
  text-decoration: line-through;
}